---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

  <div class="text-3xl py-3 font-bold">Bio</div>
    <div class="pb-12 mt-5">
      <div class="mb-10 text-justify">
          Jordi Sanchez-Riera is an associate researcher of the Spanish Scientific Research Council (CSIC) 
          in the <a href="https://www.iri.upc.edu/" target="_blank" style="color:#45609A;"> Institut de Robòtica i Informàtica Industrial (IRI)</a> 
          in Barcelona. He obtained his B.S. degree in computer science and M.S degree in electronic engineering from <a href="https://www.upc.edu/ca" target="_blank" style="color:#45609A;"> Technical University of Catalonia (UPC)</a>, 
          and the Ph.D. degree from <a href="https://www.univ-grenoble-alpes.fr/" target="_blank" style="color:#45609A;"> University of Grenoble</a> under 
          the supervision of Radu Horaud in <a href="https://www.inria.fr/en/centre-inria-grenoble-rhone-alpes" target="_blank" style="color:#45609A;"> INRIA-Rhone Alpes</a>. 
      </div>
      <div class="py-2">
        <text class="text-lg">
          Before his Ph.D. he had the opportunity to work as a research assistant at NASA Ames research center in human centered computing topics, 
          and at the IDIAP-EPFL in biometrics security algorithms. During his Ph.D. he participated in the European project FP7-ICT-HUMAVIPS, 
          and collaborated with several international research laboratories such as CTU in Czech Republic, IDIAP in Switzerland, BIU in Germany 
          and at the company Aldebaran Robotics in France. After his Ph.D. he joined as a post-doctoral researcher in the Multimedia Computing Research group 
          at <a href="https://www.sinica.edu.tw/en" target="_blank" style="color:#45609A;"> Academia Sinica</a> in Taiwan. 
        </text>
      </div>
      <div class="py-2">
        <text class="text-lg">
          He has been awarded with a Google Scholarship for Students with Disabilities, 
          with the Academia Sinica Post-Doc Fellowship ({"<"}30% acceptance rate) 
          and with a Juan de la Cierva Incorporacion 2015 ({"<"}10% acceptance rate).
        </text>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">News {"</>"}</div>
    </div>

    <div class="py-2">
      <text class="text-lg">
        New project with Biel Glasses to execute until 2025
      </text>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Students</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        (PhD) Ibrar Malik 2023-2026 co-supervised with F. Moreno-Noguer and Gil Triginer
      </li>
      <li>
        (PhD) Antonio Canela 2022-2025 co-supervised with F. Moreno-Noguer and Gil Triginer
      </li>
    </ul>

    <div class="text-xl py-1 font-bold">Alumni</div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        (AVATAR) Marc Seguí 2022
      </li>
      <li>
        (HELIPORTS)Elías Abad 2021
      </li>
      <li>
        (AVATAR) Aniol Civit 2020
      </li>
      <li>
        (TFM) Mohammad Almasi 2019
      </li>
      <li>
        (AVATAR) Marta Altarriba 1018
      </li>
    </ul>


</BaseLayout>
