---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalPublications from "../components/HorizontalPublications.astro";
---

<BaseLayout title = "Publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>

  <HorizontalPublications
    img="/post_img.webp"
    title="Grasp oriented Fine-Grained Cloth Segmentation without Real Supervision"
    authors="Ruijie Ren, MG Rajesh, Jordi Sanchez-Riera, Fan Zhang, Yurun Tian, Antonio Agudo,"
    badge="NEW"
    conf="In ICMVA 2023"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="AVATAR: Blender add-on for fast creation of 3D human models"
    authors="Jordi Sanchez-Riera, Aniol Civit, Marta Altarriba and Francesc Moreno-Noguer"
    conf="In ArXiv 2021"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="PhysXNet: A Customizable Approach for Learning Cloth Dynamics on Dressed People"
    authors="Jordi Sanchez-Riera, Albert Pumarola and Francesc Moreno-Noguer"
    conf="In 3DV 2021"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="Integrating human body mocaps into Blender using RGB images"
    authors="Jordi Sanchez-Riera and Francesc Moreno-Noguer"
    conf="In ACHI 2020"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/3dpeople_website.jpg"
    title="3DPeople: Modeling the Geometry of Dressed Humans"
    authors="Albert Pumarola, Jordi Sanchez-Riera, Gary P. T. Choi, Alberto Sanfeliu and Francesc Moreno-Noguer"
    conf="In CVPR 2019"
    project_link="https://cv.iri.upc-csic.es"
    pdf_link="https://openaccess.thecvf.com/content_ICCV_2019/papers/Pumarola_3DPeople_Modeling_the_Geometry_of_Dressed_Humans_ICCV_2019_paper.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="i-Stylist: Finding the right dress through your social networks"
    authors="Jordi Sanchez-Riera, JM Lin, Kai-Lung Hua, Wen-Huang Cheng and AW Tsui"
    conf="In MMM 2017"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="Robust RGB-D hand tracking using deep learning priors"
    authors="Jordi Sanchez-Riera, Kathiravan Srinivasan, Kai-Lung Hua, Wen-Huang Cheng, M. Anwar Hossain and Mohammed F. Alhamid"
    conf="In IEEE TCSVT 2017"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="A comparative study of data fusion for RGB-D based visual recognition"
    authors="Jordi Sanchez-Riera, Kai-Lung Hua, Yuang-Sheng Hsiao, Tekoing Lim, Shintami C. Hidayati and Wen-Huang Cheng"
    conf="In Pattern Recognition Letters 2016"
  />

</BaseLayout>
