---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalPublications from "../components/HorizontalPublications.astro";
---

<BaseLayout title = "Publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>

  <HorizontalPublications
    img="/pub_imgs/cloth_1280x720.jpg"
    title="Grasp oriented Fine-Grained Cloth Segmentation without Real Supervision"
    authors="Ruijie Ren, MG Rajesh, Jordi Sanchez-Riera, Fan Zhang, Yurun Tian, Antonio Agudo,"
    badge="NEW"
    conf="In ICMVA 2023"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/avatar_640x360.jpg"
    title="AVATAR: Blender add-on for fast creation of 3D human models"
    authors="Jordi Sanchez-Riera, Aniol Civit, Marta Altarriba and Francesc Moreno-Noguer"
    conf="In ArXiv 2021"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/physxnet_1280x720.jpg"
    title="PhysXNet: A Customizable Approach for Learning Cloth Dynamics on Dressed People"
    authors="Jordi Sanchez-Riera, Albert Pumarola and Francesc Moreno-Noguer"
    conf="In 3DV 2021"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/mocap_1280x720.jpg"
    title="Integrating human body mocaps into Blender using RGB images"
    authors="Jordi Sanchez-Riera and Francesc Moreno-Noguer"
    conf="In ACHI 2020"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/3dpeople_640x360.jpg"
    title="3DPeople: Modeling the Geometry of Dressed Humans"
    authors="Albert Pumarola, Jordi Sanchez-Riera, Gary P. T. Choi, Alberto Sanfeliu and Francesc Moreno-Noguer"
    conf="In CVPR 2019"
    project_link="https://cv.iri.upc-csic.es"
    pdf_link="https://openaccess.thecvf.com/content_ICCV_2019/papers/Pumarola_3DPeople_Modeling_the_Geometry_of_Dressed_Humans_ICCV_2019_paper.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/recommend_1280x720.jpg"
    title="i-Stylist: Finding the right dress through your social networks"
    authors="Jordi Sanchez-Riera, Jun-Ming Lin, Kai-Lung Hua, Wen-Huang Cheng and Arvin Wen Tsui"
    conf="In MMM 2017"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/handtracking_640x360.jpg"
    title="Robust RGB-D hand tracking using deep learning priors"
    authors="Jordi Sanchez-Riera, Kathiravan Srinivasan, Kai-Lung Hua, Wen-Huang Cheng, M. Anwar Hossain and Mohammed F. Alhamid"
    conf="In IEEE TCSVT 2017"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="A comparative study of data fusion for RGB-D based visual recognition"
    authors="Jordi Sanchez-Riera, Kai-Lung Hua, Yuang-Sheng Hsiao, Tekoing Lim, Shintami C. Hidayati and Wen-Huang Cheng"
    conf="In Pattern Recognition Letters 2016"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/dataset_1280x720.jpg"
    title="LaRED: A large RGB-D extensible hand gesture dataset"
    authors="Yuang-Sheng Hsiao, Jordi Sanchez-Riera, Tekoing Lim, Kai-Lung Hua, Wen-Huang Cheng"
    conf="In ACM Multimedia Systems Conference 2014"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/fasthandtracking_1280x720.jpg"
    title="A robust tracking algorithm for 3D hand gesture with rapid hand motion through deep learning"
    authors="Jordi Sanchez-Riera, Yuang-Sheng Hsiao, Tekoing Lim, Kai-Lung Hua, Wen-Huang Cheng"
    conf="In ICME Workshop 2014"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="RAVEL: An annotated corpus for training robots with audiovisual abilities"
    authors="Xavier Alameda-Pineda, Jordi Sanchez-Riera, Johanned Wienke, Vojtech Franch, Jan Cech"
    conf="In Journal on Multimodal User Interfaces 2013"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="Active-speaker detection and localization with microphones and cameras embedded into a robotic head"
    authors="Jan Cech, R Mittal, Antoine Deleforge, Jordi Sanchez-Riera, Xavier Alameda-Pineda,"
    conf="In HUMANOIDS 2013"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="Benchmarking methods for audio-visual recognition using tiny training sets"
    authors="Xavier Alameda-Pineda, Jordi Sanchez-Riera, Radu Horaud"
    conf="In ICASSP 2013"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="Audio-visual robot command recognition: D-META'12 grand challenge"
    authors="Jordi Sanchez-Riera, Xavier Alameda-Pineda, Radu Horaud"
    conf="In Multimodal Interaction 2012"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="Online multimodal speaker detection for humanoid robots"
    authors="Jordi Sanchez-Riera, Xavier Alameda-Pineda, Johannes Wienke, Antoine Deleforge, Soraya Arias,"
    conf="In HUMANOIDS 2012"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="Action recognition robust to background clutter by using stereo vision"
    authors="Jordi Sanchez-Riera, Jan Cech, Radu Horaud"
    conf="In ECCV Workshop 2012"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="Robust spatiotemporal stereo for dynamic scenes"
    authors="Jordi Sanchez-Riera, Jan Cech, Radu Horaud"
    conf="In ICPR 2012"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/sceneflow_640x360.jpg"
    title="Scene flow estimation by growing correspondence seeds"
    authors="Jan Cech, Jordi Sanchez-Riera, Radu Horaud"
    conf="In CVPR 2011"
    project_link="https://cmp.felk.cvut.cz/~cechj/GCSF/"
    pdf_link="http://perception.inrialpes.fr/Publications/2011/CSH11/Cech-CVPR-2011.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/post_img.webp"
    title="Feature distribution modelling techniques for 3D face verification"
    authors="Chris McCool, Jordi Sanchez-Riera, Sebastien Marcel"
    conf="In Pattern Recognition Letters 2010"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/pose_640x360.jpg"
    title="Simultaneous pose, correspondence and non-rigid shape"
    authors="Jordi Sanchez-Riera, J. Ostlund, Pascal Fua and Francesc Moreno-Noguer"
    conf="In CVPR 2010"
    pdf_link="https://digital.csic.es/bitstream/10261/30154/1/Simultaneous%20pose.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalPublications
    img="/pub_imgs/ptzcalib_640x360.jpg"
    title="Indoor PTZ Camera Calibration with Concurrent PT Axes"
    authors="Jordi Sanchez-Riera, Jordi Salvador, Josep Ramon Casas"
    conf="In VISAPP 2009"
  />

</BaseLayout>
