<div class="drawer-side bg-base-200">
  <label for="my-drawer" class="drawer-overlay bg-base-200"></label>
  <div class="menu flex flex-col flex-nowrap p-4 overflow-y-auto w-[21rem] bg-base-200 text-base-content">
    <div class="w-fit">
      <a href="/">
        <div class="avatar transition ease-in-out w-1/2 hover:scale-[102%] block m-auto mt-3 mb-6">
          <div>
            <img class="mask mask-circle" src="/profile.jpg" alt="profile image" />
          </div>
        </div>
      </a>
    </div>
    <div class="mb-10 text-center">
      <div class="text-xl py-1 font-bold">Jordi Sanchez-Riera</div>
      <div class="text-xl py-1">Research Assistant at IRI (CSIC-UPC)</div>
    </div>
    <div> </div>
    <div>
      <ul class="grow shrink">
        <!-- Sidebar content here -->
        <li><a id="home" href="/">Home</a></li>
        <li><a id="publications" href="/publications">Publications</a></li>
        <li><a id="projects" href="/projects">Projects</a></li>
        <li><a id="others" href="/others">Others</a></li>
        <li><a id="contact" href="/contact">Contact</a></li>
      </ul>
    </div>
    </div>
  </div>
</div>
<script>
  const homeLink = document.getElementById("home");
  const publicationsLink = document.getElementById("publications");
  const projectsLink = document.getElementById("projects");
  const othersLink = document.getElementById("others");
  const contactLink = document.getElementById("contact");

  var isHome = true;

  const url = window.location.href;

  const pages = [publicationsLink, projectsLink, othersLink, contactLink];

  const activeClass = "bg-base-300"; // For primary color replace with `active` class

  pages.forEach((elem) => {
    if (url.includes(elem.id)) {
      isHome = false;
      elem.classList.add(activeClass);
    }
  });
  if (isHome) {
    homeLink.classList.add(activeClass);
  }
</script>
